# --- Database ---
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# --- Telegram Bot ---
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET= # Locally generated secret
TELEGRAM_API_URL=

# --- Docker Runner Model
RUNNER_MODEL_BASE_URL=http://host.docker.internal:12434/v1
RUNNER_MODEL=docker.io/ai/qwen3.5:9b-q5_K_M

# --- Github Token
GITHUB_TOKEN=

# --- Google API
GOOGLE_TOKEN_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_SCOPE=
GOOGLE_REFRESH_TOKEN=

# --- Telegram Credentials
TELEGRAM_API_URL=
TELEGRAM_BOT_TOKEN=